.Landingpage {
  background-color: black;
  border-top:1px solid white;
  height:100%;
  /* background-image: url('../resources/images/sky.png'); */
  /* background-size: cover; */
  /* background */

}

.ThreadsDisplay-container{
  height:100%;
  /* text-align: center; */
}