.Post {
    color: white;
    display:inline-block;
    overflow: hidden;
    padding:5px;
    background-color: #002244;
  }
  
  .post-image-preview{
    min-width:100%;
  }

  .post-image{
    max-width:100%;
  }
  
  .image-subject{
    text-align:center;
  }
  
  hr{
    color:white;
  }
  
  .centered{
    text-align: center;
  }

  .post-page{
    text-align: center;
    width:auto;
  }