.ThreadPreview {
  /* color: rgb(91, 115, 255); */
  color:rgb(255, 241, 40);
  width:15rem;
  margin:7px;
  overflow: hidden;
  padding:5px;
  background-color: rgba(87, 98, 201, 0.8);
  border:1px solid black;
  float:inline-start;
  border: 1px groove grey;


}

.ThreadPreview img {
  height: 150px;
  opacity: 1;
}

.ThreadPreview:hover { 
  text-decoration: none;
  border:1px solid white;
}

.post-image-preview{
  min-width:100%;
  opacity: 1;
}

.post-image{
  max-width:100%;
}

.image-subject{
  text-align:center;
  height:2rem;
  overflow: hidden;
  font-size: large;
  color:rgb(250, 221, 202);
}

hr{
  color:white;
}

.centered{
  text-align: center;
}

.delete-thread-button-wrapper{
  text-align: right;
  margin:1px;
  /* padding:2px; */
}

.delete-thread-button{
  color:red;
  /* background-color: white; */
  /* margin: 2px;
  padding:1px; */
  display:inline-block;
  border: 1px outset black;
}
