.ThreadPreview {
  color: white;
  width:15rem;
  margin:7px;
  overflow: hidden;
  padding:5px;
  /* background-color: #002288; */
  background-color: rgb(7, 44, 26);
  border:1px solid black;
  float:inline-start;
  border: 1px groove grey;
  opacity: 0.5;

}

.ThreadPreview img {
  height: 150px;
  opacity: 1;
}

.ThreadPreview:hover { 
  text-decoration: none;
  border:1px solid white;
}

.post-image-preview{
  min-width:100%;
  opacity: 1;
}

.post-image{
  max-width:100%;
}

.image-subject{
  text-align:center;
  height:5rem;
  overflow: hidden;
}

hr{
  color:white;
}

.centered{
  text-align: center;
}
