
  button{
    margin:3px;
    margin-top:10px;
  }

.Thread {
    color: white;
    display:inline-block;
    overflow: hidden;
    padding:5px;

    background-color: #002244;

    /* background-color: red; */
  }
  
  .Thread-image-preview{
    min-width:100%;
  }

  .Thread-image{
    max-width:100%;
  }
  
  .image-subject{
    text-align:center;
  }
  
  hr{
    color:white;
  }
  
  .centered{
    text-align: center;
  }

  .Thread-page{
    text-align: center;
    width:auto;
    padding:3px;
    margin:2px;
  }

  .reply-image{
    max-width: 30%;
  }

  .reply-image-expanded{
    max-width: 100%;
  }

  .reply{
    color:white;
    background-color: #001122;
    border:1px solid blue;
    text-align: left;
    margin:3px;
    padding:1px;
  }

  .post-body{
    border:1px solid green;
    background-color: black;
    color:crimson;
  }

  .date{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:red;
  }

  .tags{
    background-color: white;
    color:blue;
    display:inline-block;
    padding:3px;
    border:1px solid gold;
    margin: 3px;
  }

  .zero-post-body{
    text-align: left;
  }